body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.ducks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.oneDuck {
  display: flex;
  flex-direction: column;
}

.oneProduct {
  display: flex;
}

.duckPic {
  flex: 1;
}

.productInfo {
  flex: 2;
}

.backToProducts {
  flex: 1;
}
